<div class="main-content">

    <div class="container-fluid">
        <form class="navbar-form">
            <div class="input-group no-border">
                <input [(ngModel)]="username" name="username" id="username" type="text" value="" class="form-control"
                    placeholder="Search by username" (keyup.enter)="ngOnInit()">

                <button mat-raised-button type="submit" class="btn btn-white btn-round btn-just-icon">
                    <i class="material-icons">search</i>
                    <div class="ripple-container"></div>
                </button>
            </div>
        </form>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Repositories's details of the username {{repo[0].username}}</h4>

                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">


                                    <th>
                                        Repository name
                                    </th>
                                    <th>
                                        Language
                                    </th>
                                    <th>
                                        Description
                                    </th>

                                    <th>
                                        Nb of stars
                                    </th>
                                    <th>
                                        Created date
                                    </th>


                                </thead>
                                <tbody>


                                    <tr *ngFor="let a of fakeArray; let index = index">
                                        <td>{{repo[0].details[index].name}}</td>
                                        <td>{{repo[0].details[index].language}}</td>
                                        <td>{{repo[0].details[index].description}}</td>

                                        <td>{{repo[0].details[index].stargazers_count
                                        }}</td>
                                        <td>{{repo[0].details[index].created_at}}</td>



                                    </tr>


                                </tbody>
                            </table>




                        </div>
                    </div>
                </div>

            </div>
        </div>



    </div>