<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon">
                            <i class="fa fa-facebook"></i>
                        </div>
                        <p class="card-category" (click)="ngOnInit()">View Contributors</p>

                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">update</i>
                            <mat-form-field appearance="fill">
                                <mat-label>Select a repo</mat-label>
                                <mat-select [(value)]="selected">
                                    <mat-option>None</mat-option>
                                    <mat-option value="react-native">react-native</mat-option>
                                    <mat-option value="react">react</mat-option>
                                    <mat-option value="flipper">flipper</mat-option>
                                </mat-select>

                            </mat-form-field>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-warning card-header-icon">
                        <div class="card-icon">
                            <i class="fa fa-google"></i>
                        </div>
                        <p class="card-category" (click)="ngOnInit()">View Contributors</p>

                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">update</i>
                            <mat-form-field appearance="fill">
                                <mat-label>Select a repo</mat-label>
                                <mat-select [(value)]="selected">
                                    <mat-option>None</mat-option>
                                    <mat-option value="verible">verible</mat-option>
                                    <mat-option value="WebFundamentals">WebFundamentals</mat-option>
                                    <mat-option value="site-kit-wp">site-kit-wp</mat-option>
                                </mat-select>

                            </mat-form-field>


                        </div>

                    </div>

                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon">
                            <i class="fa fa-apple"></i>
                        </div>
                        <p class="card-category" (click)="ngOnInit()">View Contributors</p>

                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">update</i>
                            <mat-form-field appearance="fill">
                                <mat-label>Select a repo</mat-label>
                                <mat-select [(value)]="selected">
                                    <mat-option>None</mat-option>
                                    <mat-option value="swift">swift</mat-option>
                                    <mat-option value="indexstore-db">indexstore-db</mat-option>
                                    <mat-option value="llvm-project">llvm-project</mat-option>
                                </mat-select>

                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-danger card-header-icon">
                        <div class="card-icon">
                            <i class="fa fa-android"></i>
                        </div>
                        <p class="card-category" (click)="ngOnInit()">View Contributors</p>

                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">update</i>
                            <mat-form-field appearance="fill">
                                <mat-label>Select a repo</mat-label>
                                <mat-select [(value)]="selected">
                                    <mat-option>None</mat-option>
                                    <mat-option value="plaid">plaid</mat-option>
                                    <mat-option value="compose-samples">compose-samples</mat-option>
                                    <mat-option value="sunflower">sunflower</mat-option>
                                </mat-select>

                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Contributor's details, repo : {{contributor[0].repo}}, owner:
                            {{contributor[0].owner}} </h4>

                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">


                                    <th>
                                        Name
                                    </th>

                                    <th>
                                        Username
                                    </th>

                                    <th>
                                        City
                                    </th>
                                    <th>
                                        Public_repos
                                    </th>

                                    <th>
                                        Bio

                                    </th>


                                    <th>
                                        Email

                                    </th>

                                    <th>
                                        Blog

                                    </th>


                                </thead>
                                <tbody>


                                    <tr *ngFor="let a of fakeArray; let i = index">

                                        <td>{{contributor[i].data.name}}</td>
                                        <td>{{contributor[i].data.login}}</td>
                                        <td>{{contributor[i].data.location}}</td>
                                        <td>{{contributor[i].data.public_repos}}</td>
                                        <td>{{contributor[i].data.bio}}</td>
                                        <td> <a href="{{contributor[i].data.email}}">{{contributor[i].data.email}}</a>
                                        </td>


                                        <td> <a href="{{contributor[i].data.blog}}">{{contributor[i].data.blog}}  </a></td>
                                       





                                    </tr>


                                </tbody>
                            </table>




                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>