<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Followings's profiles for the user: {{nameUser}} {{lastname}} </h4>

                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">

                                    <th>
                                        Name
                                    </th>

                                    <th>
                                        Username
                                    </th>

                                    <th>
                                        City
                                    </th>

                                    <th>
                                        Bio
                                    </th>
                                    <th>
                                        Public_repos
                                    </th>
                                    <th>
                                        Email
                                    </th>
                                    <th>
                                        Blog
                                    </th>


                                    <th> Delete</th>


                                </thead>
                                <tbody>


                                    <tr *ngFor="let item of followings" [attr.id]="item._id" let index=index>
                                        <td>{{item.name}}</td>
                                        <td>{{item.username}}</td>
                                        <td>{{item.location}}</td>
                                        <td>{{item.bio}}</td>
                                       
                                        <td>{{item.public_repos}}</td>
                                        <td> <a href="{{item.email}}">{{item.email}} </a></td>
                                        <td><a href="{{item.blog}}">{{item.blog}}</a></td>

                                        <td>
                                            <button mat-raised-button type="button" matTooltip="Remove"
                                                [matTooltipPosition]="'above'"
                                                class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                <i class="material-icons" (click)="deleteRow(item)">close</i>
                                            </button>

                                        </td>


                                    </tr>


                                </tbody>
                            </table>
                            <div class="add">
                                <button mat-raised-button type="button" matTooltip="Add Profile"
                                    [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon">
                                    <i class="fa fa-refresh" aria-hidden="true" (click)="refresh()"></i>
                                </button>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>



    </div>