<h1 mat-dialog-title>Add new profile</h1>
<div mat-dialog-content>
  <p>What's the username of the new profile?</p>
  <mat-form-field>
    <mat-label>Username</mat-label>
    <input matInput [(ngModel)]="data.username" name="username">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button class="btn btn-danger btn-round" (click)="onNoClick()">Back</button>
  <button mat-button class="btn btn-success btn-round" [mat-dialog-close]="data.username">Ok</button>
</div>
