<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">All Profil Github</h4>

                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">

                                    <th>
                                        Name
                                    </th>

                                    <th>
                                        Username
                                    </th>

                                    <th>
                                        City
                                    </th>

                                    <th>
                                        Followers

                                    </th>

                                    <th>
                                        Followings

                                    </th>
                                   <!--  <th>
                                        Blog

                                    </th> -->

                                    <th>
                                        Repositories
                                    </th>

                                    <th>
                                        Follow
                                    </th>
                                    <th> Delete</th>


                                </thead>
                                <tbody>


                                    <tr *ngFor="let item of profils" [attr.id]="item._id">
                                        <td>{{item.name}}</td>
                                        <td>{{item.login}}</td>
                                        <td>{{item.location}}</td>
                                        <td>{{item.followers}}</td>
                                        <td>{{item.following}}</td>
                                       <!--  <td><a href="{{item.blog}}">blog</a></td> -->
                                        <td>{{item.public_repos}}</td>

                                        <td>
                                            <button mat-raised-button type="button" matTooltip="Follow"
                                                [matTooltipPosition]="'above'"
                                                class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                <i class= 'fa fa-heart'  aria-hidden="true" (click) =" addFollowings(item)"  ></i>
                                            </button>

                                        </td>

                                        <td>
                                            <button mat-raised-button type="button" matTooltip="Remove"
                                                [matTooltipPosition]="'above'"
                                                class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                <i class="material-icons" (click)="deleteRow(item)">close</i>
                                            </button>

                                        </td>

                                    </tr>

                                </tbody>
                            </table>
                            <div class="add">
                                <button mat-raised-button type="button" matTooltip="Add Profile" 
                                    [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon">
                                    <i class="fa fa-plus-circle" aria-hidden="true" (click)="openDialog()"></i>
                                </button>

                                <button mat-raised-button type="button" matTooltip="Add Profile" 
                                    [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon">
                                    <i class="fa fa-refresh" aria-hidden="true" (click)="refresh()"></i>
                                </button>
                            </div>



                        </div>
                    </div>
                </div>

            </div>
        </div>



    </div>