.cdk-overlay-pane {
    width: 500px !important;
    height: 500px !important;
    max-width: 500px !important;
  }
.mat-dialog-container {
    width: 1500px !important;
    height: 1500px !important;
    resize: both;
  }
  