<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
        <div class="card-header card-header-danger">
          <h4 class="card-title ">Profile of {{firstName}}</h4>

        </div>
        </div>
        <div class="card">
          <div class="card card-profile">
            <div class="card-avatar">
              <a href="javascript:void(0)">
                <img class="img" [src]="cheminImage" />
              </a>
            </div>
          </div>


          <div class="card-body">
            <form>
              <div class="row">

                <div class="col-md-6">

                  <label>Username : {{username}}</label>

                </div>
                <div class="col-md-6">

                  <label>Email address : {{email}}</label>

                </div>
              </div>
              <div class="row">
                <div class="col-md-6">

                  <label>Fist Name : {{firstName}}</label>

                </div>
                <div class="col-md-6">

                  <label>Last Name : {{lastName}}</label>

                </div>
              </div>
              <div class="row">
                <div class="col-md-12">

                  <label>Adress : {{adress}}</label>

                </div>
              </div>
              <div class="row">
                <div class="col-md-4">

                  <label>City : {{city}}</label>

                </div>
                <div class="col-md-4">

                  <label>Country : {{country}}</label>

                </div>
                <div class="col-md-4">

                  <label>Postal Code : {{PostalCode}}</label>

                </div>
              </div>

              <button (click)="openDialog()" style="display: flex;justify-content: center;" mat-raised-button
                type="submit" class="btn btn-danger pull-right">Update Profile</button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
      <!--  <div class="col-md-4">
        <div class="card card-profile">
          <div class="card-avatar">
            <a href="javascript:void(0)">
              <img class="img" [src]="cheminImage" />
            </a>
          </div>
          <div class="card-body">
            <h6 class="card-category text-gray">CEO / Co-Founder</h6>
            <h4 class="card-title">{{firstName}} {{lastName}}</h4>
            <div class="card-description">
              <div class="row ">
                <div class="col-md-6">
                  LAST NAME :
                </div>
                <div class="col-md-6">
                  {{lastName}}
                </div>
              </div>
              <div class="row ">
                <div class="col-md-6">
                  FIRST NAME :
                </div>
                <div class="col-md-6">
                  {{firstName}}
                </div>
              </div>
              <div class="row ">
                <div class="col-md-6">
                  USERNAME :
                </div>
                <div class="col-md-6">
                  {{username}}
                </div>
              </div>
              <div class="row ">
                <div class="col-md-4">
                  EMAIL :
                </div>
                <div class="col-md-8">
                  {{email}}
                </div>
              </div>
              <div class="row ">
                <div class="col-md-6">
                  ADRESS :
                </div>
                <div class="col-md-6">
                  {{adress}}
                </div>
              </div>
              <div class="row ">
                <div class="col-md-6">
                  POSTAL CODE :
                </div>
                <div class="col-md-6">
                 
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  COUNTRY :
                </div>
                <div class="col-md-6">
                  {{country}}
                </div>
              </div>
              <div class="row ">
                <div class="col-md-6">
                  CITY :
                </div>
                <div class="col-md-6">
                  {{city}}
                </div>
              </div>

            </div>
            <a href="javascript:void(0)" class="btn btn-danger btn-round" (click)="openDialog()">Edit</a>
          </div>

         
        </div>
        
      </div> -->
    </div>
  </div>
</div>