<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<div class="main-content">

  <div class="container-fluid">
    <section class="login-block">
      <div class="container">
        <div class="row">
          <div class="col-md-4 login-sec">
            <h2 class="text-center">Best Dev </h2>
            <form class="login-form">
              <div class="form-group">
                <label for="exampleInputEmail1" class="text-uppercase">Name</label>
                <input type="text" class="form-control" placeholder="" name="name" [(ngModel)]="name">
                {{messageEmpty}}
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1" class="text-uppercase">LastName</label>
                <input type="email" class="form-control" placeholder="" name="lastName" [(ngModel)]="lastName">

              </div>
              <div class="form-group">
                <label for="exampleInputEmail1" class="text-uppercase">Username</label>
                <input type="email" class="form-control" placeholder="" name="username" [(ngModel)]="username">

              </div>
              <div class="form-group">
                <label for="exampleInputEmail1" class="text-uppercase">Email</label>
                <input type="text" class="form-control" placeholder="" name="email" [(ngModel)]="email" (keyup.enter)="validateEmail()">
 {{message}}
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1" class="text-uppercase">Country</label>
                <input type="text" class="form-control" placeholder="" name="country" [(ngModel)]="country">

              </div>
              <div class="form-group">
                <label for="exampleInputEmail1" class="text-uppercase">City</label>
                <input type="text" class="form-control" placeholder="" name="city" [(ngModel)]="city">

              </div>
              <div class="form-group">
                <label for="exampleInputEmail1" class="text-uppercase">Adress</label>
                <input type="text" class="form-control" placeholder="" name="adress" [(ngModel)]="adress">

              </div>
              <div class="form-group">
                <label for="exampleInputEmail1" class="text-uppercase">Postal Code</label>
                <input type="text" class="form-control" placeholder="" name="postalCode" [(ngModel)]="postalCode">

              </div>
              <div class="form-group">
                <label for="exampleInputPassword1" class="text-uppercase">Password</label>
                <input type="password" class="form-control" placeholder="" name="password" [(ngModel)]="password">
             {{messageP}}
              </div>


              <div class="form-check">
                <label class="form-check-label">
                  <input type="checkbox" class="form-check-input">

                </label>
 
                <button type="submit" class="btn btn-login float-right" (click)="addUser()">Submit</button>
         
              </div>

            </form>

            <div class="copy-text"> 
                <i
                class="fa fa-heart"> Best Dev !</i> </div>
          </div>
          <div class="col-md-8 banner-sec">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
              </ol>
              <div class="carousel-inner" role="listbox">
                
                <div class="carousel-item">
                  <img class="d-block img-fluid"
                    src="https://images.pexels.com/photos/7097/people-coffee-tea-meeting.jpg" alt="First slide">
                  <div class="carousel-caption d-none d-md-block">
                    <div class="banner-text">
                      <h2>Best devs HERE!</h2>

                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <img class="d-block img-fluid" src="https://images.pexels.com/photos/872957/pexels-photo-872957.jpeg"
                    alt="First slide">
                  <div class="carousel-caption d-none d-md-block">
                    <div class="banner-text">
                      <h2>Best devs HERE!</h2>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </section>